* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết.
*/


/* 
1. Vị trí
2. Kích thước (width/height)
3. Màu sắc
4. Kiểu dáng
*/
html {
    font-family: Arial;
}
.text-white{
    color: #fff !important;

}
#main {

}


.clear {
    clear: both;
}
#header {
    --height: 46px;
    background-color: #000;
    position: sticky;
    top:0;
    z-index: 1;
}

#header .search-btn  {
    position: absolute;
    top:0;
    right:0;
    padding:14px;
    box-sizing: border-box;
    line-height: var(--height);
    
}
#header .search-btn:hover {
    background-color: red;
    cursor:pointer;
}


#header .search-icons {
    color:#fff;
    font-size: 18px;
}

#nav, .subnav {
    list-style: none;
    
}

#nav > li {
    display:inline-block;
    
}

#nav li {
    
    position: relative;
    /* width: 100%; */
}



#nav li a {
    color:#fff;
    text-decoration: none;
    line-height: var(--height);
    padding: 0px 24px;
    display:block;
    

}
#nav .subnav li:hover a,
#nav > li > a:hover {
    background-color: #ccc;
    color: #000;
    
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li:hover .subnav{
    display: block;
}

#nav .nav-arrow-down{
    font-size: 12px;
}
#nav .subnav {
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    display:none;
}


#nav .subnav a {
    color:#000; 
    padding: 0 16px;
    line-height: 38px;
    /* width: 100%; */
}

#slider {
   
    padding-top:50%;
    /*   */
    background-image:url('/assets/img/la.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   
}

#slider  .text-content {
    position: absolute;
    bottom:0;
    color:#fff;
    padding:46px;
    /* left:50%;
    transform: translateX(-50%); */
    text-align: center;
    width: 100%;
    /* right: 0;
    left:0; */


}
#slider  .text-heading {
    font-weight: 500;
    font-size:24px;



}
#slider  .text-description {
    font-size:15px;
    margin-top:25px;

}

#content{

}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;

}

#content .section-heading{
    font-size:30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;

}

#content .section-subheading{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-top:25px;
    margin-bottom:25px;
    opacity: 0.7;
}

#content .about-text{
    text-align: justify;
    font-size:15px;
    line-height: 1.4;

}

#content .member-list{
    margin-top:48px;
    
}

#content .member-item{
    float: left;
    width: 33.333333%;
    text-align: center;

}

#content .member-img{
    margin-top:15px;
    width: 154px;
    border-radius: 4px;
    
}

#content .member-name{
    font-size:15px;
    text-align: center;
}


/* Tour Section */
.tour-section{
    background-color: #000;

}
 .ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list .sold-out{
    color:#fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color:#757575;

}

.ticket-list .quantity{
    float:right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top:-3px;
}

/* Places Tour */
.places-list{
    margin-top:32px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 48px;

}

.place-item{
    float:left;
    width:33.333333%;
    padding:0 8px;
}
.place-img{
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity:0.7;
}
.place-body{
    background-color: #fff;
    padding:16px;
    font-size: 15px;
}
.place-heading{
    font-weight: 600;

}
.place-time{
     margin-top:15px;   
     color:#757575;

}
.desc-place{
    margin-top:15px;
    line-height: 1.4;
    margin-bottom: 16px;

}
.place-buy-btn{
    background-color: #000;
    color:#fff;
    padding: 8px 16px;
    text-decoration: none;
    padding: 8px 12px;
    margin-bottom: 6px;
    display: inline-block;
    
}
.place-buy-btn:hover {
    background-color: #ccc;
    color:#000;
    font-weight: bolder;
}

/* Modal */
.modal {
    /* Overlay */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .modal-close {
    position:absolute;
    padding: 16px;
    right:0px;
    color:#fff;
    font-size: smaller;
}

.modal .modal-close:hover {
    background-color: #ccc;
    color: #000;
}

.modal .modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal .modal-header > .ti-bag {
    margin-right: 8px;
    
}

.modal .modal-body {
    padding-left: 16px;
    
}

.modal label {
    display: block;
    padding: 15px 0px;
}

.modal .modal-input{
    padding: 8px;
    width: 870px;
    opacity: 800;
}

.modal button{
    display: block;
}

#buy-tickets .ti-check{
    margin-left:6px;
    font-weight: bolder;
}

.modal-body #buy-tickets{
    width: 870px;
    margin:16px 0px;
    padding:16px;   
    height: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #009688;
    color: #fff;
}

.modal-body #buy-tickets:hover {
    background-color: #ccc;
    color: #000;
}


.modal .modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
}

/* Footer Section */
#footer {

}